<header>
  <h1>
    Electrification of Indian Railways.<a
    appSourceRef="https://indianrailways.gov.in/railwayboard/view_section.jsp?lang=0&id=0,1,304,366,532,565"></a><a
    appSourceRef="https://indianrailways.gov.in/railwayboard/uploads/directorate/stat_econ/IRSP_2013-14/pdf/Year_Book_Eng/11.pdf"></a><a
    appSourceRef="https://indianrailways.gov.in/railwayboard/uploads/directorate/ele_engg/pdf/RE%20Upload.pdf"></a><a
    appSourceRef="https://www.financialexpress.com/infrastructure/railways/indian-railways-green-target-check-out-the-progress-made-on-100-electrification-mission/2409268/"></a>
  </h1>
</header>

<highcharts-chart
  *ngFor="let config of allChartsConfig"
  (chartInstance)="allCharts.push($event)"
  [Highcharts]="Highcharts"
  [options]="config"
></highcharts-chart>

<header class="pb-0">
  <h1>
    Access to electricity (% of households) in India.<a
    appSourceRef="https://en.wikipedia.org/wiki/List_of_states_and_union_territories_of_India_by_households_having_electricity"></a>
  </h1>
</header>
<div class="sub-nav">
  <div *ngFor="let year of availableYears"
       [class.active]="visibleYear === year"
       (click)="selectMapSeries(year)">{{year}}</div>
</div>

<highcharts-chart
  class="map-chart"
  *ngFor="let config of allMapsConfig"
  (chartInstance)="allMaps.push($event)"
  [constructorType]="'mapChart'"
  [Highcharts]="Highcharts"
  [options]="config"
></highcharts-chart>
