/*Chips*/
.chips {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1080px;
  margin: 1rem auto;
  gap: .3rem;

  .chip {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    padding: 0 .5rem;
    background-color: rgb(222 222 222 / 60%);
    border-radius: 3px;

    &--close-btn {
      cursor: pointer;
      margin: .2rem 0 .2rem .4rem;
      background-color: rgb(0 0 0 / 5%);
      border-radius: 1rem;
      width: 1.2rem;
      line-height: 1.2rem;
      font-size: .8rem;
      text-align: center;
      color: #8f8f8f;
    }
  }
}

/*Buttons*/

.btn {
  border: none;
  outline: none;
  background-color: var(--active-color);
  padding: .5em 1em;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;

  &:focus, &:active {
    outline: 2px solid var(--active-color);
    outline-offset: 2px;
  }
}

.color-active {
  color: var(--active-color);
}
