.input-group {
  position: sticky;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  padding: 3px 6px;
  width: min(30vw, 100%);
  top: 0;
  background-color: #fff;
  z-index: 2;

  input {
    flex-basis: 0;
    flex-grow: 1;
  }

  .input-box {
    display: flex;
    flex-grow: 1;
  }
}

select, .input-box input, .input {
  border: 0;
  outline: 0;
  border-bottom: 3px solid;
  padding: 2px 10px;
  font-weight: bold;

  &:focus, &:active {
    border-color: var(--active-color);
  }
}


// https://range-input-css.netlify.app/
$range-track-height: .4rem;
$range-thumb-width: 2.5rem;
$range-thumb-height: 1rem;
$range-thumb-radius: 0.5rem;
$range-thumb-outline-offset: 0.125rem;
$range-thumb-outline: 3px solid var(--active-color);

/*********** Baseline, reset styles ***********/
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 100%;
}

/* Removes default focus */
input[type="range"]:focus {
  outline: none;
}

/******** Chrome, Safari, Opera and Edge Chromium styles ********/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
  background-color: #000;
  border-radius: $range-track-height;
  height: $range-track-height;
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: $range-track-height / 2 - $range-thumb-height / 2; /* Centers thumb on the track */
  background-color: var(--active-color);
  border-radius: $range-thumb-radius;
  height: $range-thumb-height;
  width: $range-thumb-width;
}

input[type="range"]:focus::-webkit-slider-thumb {
  outline: $range-thumb-outline;
  outline-offset: $range-thumb-outline-offset;
}

/*********** Firefox styles ***********/
/* slider track */
input[type="range"]::-moz-range-track {
  background-color: #000;
  border-radius: $range-track-height;
  height: $range-track-height;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
  background-color: var(--active-color);
  border: none; /*Removes extra border that FF applies*/
  border-radius: $range-thumb-radius;
  height: $range-thumb-height;
  width: $range-thumb-width;
}

input[type="range"]:focus::-moz-range-thumb {
  outline: $range-thumb-outline;
  outline-offset: $range-thumb-outline-offset;
}

.range-tick-marks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 0 ($range-thumb-width / 2 - $range-thumb-outline-offset);
  height: 2 * $range-track-height;
  margin-top: calc(#{- 2 * $range-track-height} - 1px); /* -1px because 2px native margin on input[range] */
  z-index: -1;

  > * {
    height: 100%;
    box-shadow: 0 0 0 0.5px black;
  }
}
