<header>
  <h1>
    2022 Russian invasion of Ukraine - Map Timeline.<a
    appSourceRef="https://en.wikipedia.org/wiki/2022_Russian_invasion_of_Ukraine"></a>
  </h1>
</header>

<div class="timeline">
  <div class="timeline-buttons">
    <button (click)="playIntervalRef ? stop(): play()">{{playIntervalRef ? '■ STOP' : '▶ PLAY'}}</button>

    <button (click)="toggleTimeSpan()">{{showAllUpdates ? 'Show Daily Updates' : 'Show All Updates'}}</button>
  </div>

  <input
    type="range"
    step="1"
    min="0"
    [max]="invasionImages.length - 1"
    [ngModel]="selectedImageIndex"
    (ngModelChange)="selectImage($event)">

  <div class="range-tick-marks">
    <span *ngFor="let img of invasionImages"></span>
  </div>

  <div class="labels">
    <span>{{invasionImages[0].date | date:'HH:mm, dd MMM yyyy':'+0200'}}</span>
    <span>Latest</span>
  </div>
</div>

<div class="image-container"
     [style.background-image]="selectedImageIndex < invasionImages.length - 1 && 'url(' + invasionImages[selectedImageIndex + 1]?.url + ')'">
  <div class="image-container"
       [style.background-image]="selectedImageIndex < invasionImages.length - 2 && 'url(' + invasionImages[selectedImageIndex + 2]?.url + ')'">
    <div class="image-container"
         [style.background-image]="selectedImageIndex >= 2 && 'url(' + invasionImages[selectedImageIndex - 2]?.url + ')'">
      <div class="image-container"
           [style.background-image]="selectedImageIndex >= 1 && 'url(' + invasionImages[selectedImageIndex - 1]?.url + ')'">
        <div class="image-container"
             [style.background-image]="'url(' + invasionImages[selectedImageIndex].url + ')'"
        ></div>
      </div>
    </div>
  </div>
  <span class="image-date">{{invasionImages[selectedImageIndex].date | date:'HH:mm, dd MMM yyyy':'+0200'}}
    (Ukraine)</span>
</div>

<div class="wiki-editor-comment"
     *ngIf="invasionImages[selectedImageIndex]?.comment"
     [class.hidden]="!showComment">
  <button style="cursor: pointer"
          (click)="showComment = !showComment">{{showComment ? '&times;' : '+' }}</button>&nbsp;&nbsp;&nbsp;
  <span *ngIf="showComment"><b>Comment (by Wiki Editor):</b> {{invasionImages[selectedImageIndex]?.comment}}.</span>
</div>
