$multiplier: 1;
$gap: min(30px, 3vw);

body, html {
  //width: $multiplier * 100vw;
  //height: $multiplier * 100vh;
}

app-ukraine-russia-invasion {
  display: flex;
  flex-grow: 1;
  flex-direction: column;

  > * {
    flex-shrink: 0;
  }

  button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    color: var(--active-color);
    line-height: 1;
  }

  header {
    padding: min(4vh, 4vw);
    padding-bottom: calc(min(4vh, 4vw) - #{$gap});
  }

  .timeline {
    margin: 2vh auto;
    padding: 0 2vw;
    width: 100%;
    max-width: 1080px;
  }

  .labels {
    margin-top: .5em;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .image-container {
    position: relative;
    flex-grow: 1;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;

    > .image-container {
      height: 100%;
    }

    .image-date {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -100%);
      font-size: min(30px, 3vh);
      white-space: nowrap;
    }
  }

  .wiki-editor-comment {
    position: relative;
    text-align: center;
    padding: min(1vh, 1vw);
    background: rgb(255 255 255 / 33%);
    word-break: break-word;

    &.hidden {
      align-self: flex-end;
      overflow: hidden;
    }

    button {
      position: absolute;
      font-size: 1.2em;
      background: #bbbbbb;
      top: 0;
      left: 0;
      padding: .2em .3em;
      color: inherit;
    }

    @media screen and (min-width: 700px) {
      position: fixed;
      right: 0;
      bottom: 0;
      max-width: 200px;
    }

    @media screen and (max-width: 700px) {
      filter: invert(1);
      mix-blend-mode: difference;
      max-height: 12vh;
      overflow: auto;
    }

    @media screen and (min-width: 1000px) {
      filter: invert(1);
      mix-blend-mode: difference;
    }
  }

  @media screen and (max-width: 1200px) and (min-width: 1000px) {
    > .image-container {
      margin-right: 20vw;
    }
  }
}
