<header>
  <h1>
    Sunrise and sunset timings{{selectedDate ? ' on ' : '.'}} {{selectedDate | date:'MMM dd, y'}}
  </h1>
</header>

<div class="user-input">
  <select [(ngModel)]="selectedCountry">
    <option disabled>Search Cities In</option>
    <option value="">World</option>
    <option *ngFor="let country of countries"
            [value]="country[1]">{{country[0]}}</option>
  </select>

  <app-typeahead placeholder="Search Cities"
                 (search)="searchSubject.next($event)"
                 [(showSearchResults)]="showSearchResults">
    <div class="search-results"
         *ngIf="searchResults?.length">
      <div class="search-result"
           *ngFor="let cityIndex of searchResults"
           (click)="toggleCity(cityIndex); showSearchResults = false">
      <span class="search-result-symbol">
        <img src="https://raw.githubusercontent.com/hampusborgos/country-flags/main/svg/{{cities[cityIndex][0] | lowercase}}.svg"
             alt="">
        {{cities[cityIndex][0]}}
      </span>
        <span class="search-result-label">
          <span [innerHTML]="cities[cityIndex][1] | searchHighlight:(searchSubject | async)"></span>
          <span>la: <b>{{cities[cityIndex][2] | number:'2.2-2'}}</b> ln: <b>{{cities[cityIndex][3] | number:'2.2-2'}}</b></span>
        </span>
      </div>
    </div>
  </app-typeahead>

  <select style="width: 5em" [ngModel]="dayOfYearOffset"
          (ngModelChange)="dayChangedByUser($event)">
    <option disabled>Day of Year</option>
    <option *ngFor="let day of [].constructor(365); let i = index"
            [value]="i">{{i + 1}}</option>
  </select>

  <button (click)="intervalRef ? stopAutoPlaying(): autoPlay()">{{intervalRef ? '■ STOP' : '▶ PLAY'}}</button>
</div>

<section class="sunrise-sunset-chart">
  <div *ngFor="let item of chartData; trackBy:identifyItem"
       class="sunrise-sunset-chart-column">
    <div class="sunrise-sunset-chart-column-head">
       <span class="chip--close-btn"
             (click)="toggleCity(item.index, true)">✖</span>
      <img class="country-flag"
           src="https://raw.githubusercontent.com/hampusborgos/country-flags/main/svg/{{item.city[0] | lowercase}}.svg"
           [alt]="item.city[0]"
           [title]="item.city[0]"/>
      <span class="sunrise-sunset-chart-column-head__label">{{item.city[1]}}</span>
    </div>
    <div class="sunrise-sunset-chart-column-piller">
      <div class="sunrise-sunset-chart-column-piller__inner"
           [style.bottom]="item.startPos + '%'"
           [style.top]="(100 - item.endPos) + '%'">
        <span>{{item.sunsetTime}}</span>
        <img class="country-flag"
             src="https://raw.githubusercontent.com/hampusborgos/country-flags/main/svg/{{item.city[0] | lowercase}}.svg"
             [alt]="item.city[0]"
             [title]="item.city[0]"/>
        <span>{{item.sunriseTime}}</span>
      </div>
    </div>
  </div>
</section>
