$multiplier: 1;
$gap: min(30px, 3vw);

body, html {
  //width: $multiplier * 100vw;
  //height: $multiplier * 100vh;
}

app-stock-market {
  header {
    padding: min(8vh, 8vw);
    padding-bottom: min(6vh, 6vw);
  }

  highcharts-chart {
    display: block;
    width: 98%;
    margin: 0 auto;
    height: 60vh;
    flex-grow: 1;
    min-width: min(400px, 96vw);
  }

  .no-token-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: min(98vw,600px);
    max-width: 1080px;
    border: 1px dashed;
    padding: min(2vw, 5px);

    form {
      display: flex;
      align-items: center;
      gap: .4rem;
      flex-wrap: wrap;
      margin: 1rem 0;
    }

    a {
      color: var(--active-color);
    }

    ol {
      padding: 0 0 0 2rem;
      margin: 0;

      li {
        padding: 1rem;

        &:not(:last-child) {
          border-bottom: 1px solid rgb(0 0 0 / 20%);
        }
      }
    }
  }
}
