<ng-template #appRoutes>
  <a class="app-nav__item"
     routerLink="/2022-Russian-invasion-of-Ukraine"
     routerLinkActive="active">Ukraine Invasion Map</a>
  <a class="app-nav__item"
     routerLink="/wikipedia-sources-reliability-index"
     routerLinkActive="active">Wikipedia Reliability Index</a>
  <a class="app-nav__item"
     routerLink="/economy-of-india"
     routerLinkActive="active">Economy</a>
  <a class="app-nav__item"
     routerLink="/electrification-of-india"
     routerLinkActive="active">Electrification</a>
  <a class="app-nav__item"
     routerLink="/delhi-aqi-during-diwali-season"
     routerLinkActive="active">Delhi's AQI (Diwali)</a>
  <a class="app-nav__item"
     routerLink="/india-roads-highways-expressways"
     routerLinkActive="active">Roads</a>
  <a class="app-nav__item"
     routerLink="/india-vehicles-and-accidents"
     routerLinkActive="active">Vehicles and Accidents</a>
  <a class="app-nav__item"
     routerLink="/terrorism-in-india"
     routerLinkActive="active">Terrorism</a>
</ng-template>

<nav class="app-nav">
  <a class="app-nav__item app-logo"
     routerLink="/">
    <img src="assets/logo.png">
  </a>
  <ng-container *ngIf="windowSize.width >= 1300" [ngTemplateOutlet]="appRoutes"></ng-container>
  <div class="spacer"></div>
  <a class="app-nav__item" href="https://github.com/dabalyan"
     target="_blank"
     rel="noopener">GitHub</a>
</nav>

<router-outlet></router-outlet>
