$multiplier: 1;

body, html {
  //width: $multiplier * 100vw;
  //height: $multiplier * 100vh;
}

app-delhi-aqi {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-evenly;
  gap: min(30px, 3vw);

  header {
    padding: min(3vh, 3vw);
  }

  table {
    border-collapse: collapse;

    th, td {
      border: $multiplier * 1px solid;
      padding: $multiplier * 4px;

      &.empty {
        background-color: red;
      }
    }
  }

  highcharts-chart {
    display: block;
    width: 30%;
    height: 48vh;
    flex-grow: 1;
    min-width: min(400px, 96vw);

    &:first-of-type {
      width: 100%;
      height: 54vh;
    }
  }
}
