$multiplier: 1;
$borderWidth: $multiplier * 2px;

body, html {
  //width: $multiplier * 100vw;
  //height: $multiplier * 100vh;
  //height: 100%;
}

app-wikipedia-sources-reliability-index {
  font-family: monospace;

  header {
    padding: min(10vh, 10vw);
  }

  a.active {
    background-color: var(--active-color);
    z-index: 1;
  }

  .container {
    border: $borderWidth solid;
    margin: 4vh 2vw;
    display: flex;
    flex-wrap: wrap;
  }

  .container:last-child {
    border-bottom: $borderWidth solid;
  }

  .container > * {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 12px;
    margin: 2px;
    filter: drop-shadow(0 0 0 #000);
  }

  .container img {
    max-height: $multiplier * 1.6em;
  }

  .group-info {
    //min-width: 30%;
    margin-top: -$borderWidth !important;
    margin-left: -$borderWidth !important;
    gap: $multiplier * 14px;
    flex-grow: 0;
    justify-content: flex-start !important;

    background-color: #000;
    color: #fff;

    font-weight: bolder;
    font-size: $multiplier * 2.1em;
    text-transform: uppercase;
    line-height: 1em;

    img {
      height: 1em;
      width: 1em;
    }
  }

  .source-name {
    display: none;
  }

  .group-0 {
    --color: limegreen;
  }

  .group-1 {
    --color: #d1d12b;
  }

  .group-2 {
    --color: #ff6000;
  }

  .group-3 {
    --color: red;
  }

  .group-4 {
    --color: #a000a9;
  }
}
