$multiplier: 1;
$borderWidth: $multiplier * 2px;

body, html {
  //width: $multiplier * 100vw;
  //height: $multiplier * 100vh;
  //height: 100%;
}

app-wikipedia-sources-reliability-index {
  font-family: monospace;

  header {
    padding: min(10vh, 10vw);
  }

  a.active {
    //box-shadow: 0 0 0 5px var(--active-color);
    background-color: var(--active-color);
    z-index: 1;
  }

  .search-box {
    display: flex;
    margin: 0 auto;
    padding: 3px 6px;
    width: 20vw;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 999;
    text-align: center;

    input  {
      border: 0;
      outline: 0;
      border-bottom: 3px solid;
      flex-basis: 0;
      flex-grow: 1;
      padding: 2px 10px;
      font-weight: bold;
      text-transform: uppercase;

      &:focus, &:active {
        border-color: var(--active-color);
      }
    }
  }

  .container {
    //width: 100%;
    border: $borderWidth solid;
    //border-bottom: 0;
    margin: 4vh 2vw;
    display: flex;
    flex-wrap: wrap;

    //background: var(--color);
  }

  .container:last-child {
    border-bottom: $borderWidth solid;
  }

  .container > * {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 12px;
    margin: 2px;
    filter: drop-shadow(0 0 0 #000);
    //background-color: rgb(255 255 255 / 65%);
  }

  .container img {
    max-height: $multiplier * 1.6em;
  }

  .group-info {
    //min-width: 30%;
    margin-top: -$borderWidth !important;
    margin-left: -$borderWidth !important;
    gap: $multiplier * 14px;
    flex-grow: 0;
    justify-content: flex-start !important;

    background-color: #000;
    color: #fff;

    font-weight: bolder;
    font-size: $multiplier * 2.1em;
    text-transform: uppercase;
    line-height: 1em;

    img {
      height: 1em;
      width: 1em;
    }
  }

  .source-name {
    display: none;
  }

  .group-0 {
    --color: limegreen;
  }

  .group-1 {
    --color: #d1d12b;
  }

  .group-2 {
    --color: #ff6000;
  }

  .group-3 {
    --color: red;
  }

  .group-4 {
    --color: #a000a9;
  }
}
