$multiplier: 1;
$gap: min(30px, 3vw);

body, html {
  //width: $multiplier * 100vw;
  //height: $multiplier * 100vh;
}

app-roads-and-highways {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-evenly;
  gap: $gap;

  header {
    padding: min(8vh, 8vw);
    padding-bottom: calc(min(8vh, 8vw) - #{$gap});
  }

  highcharts-chart {
    display: block;
    width: 30%;
    height: 40%;
    flex-grow: 1;
    min-width: min(400px, 96vw);
  }
}
