/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap');

@import 'styles/normalize';
@import 'styles/personalize';
@import 'styles/input';
@import 'styles/elements';
@import 'styles/table';

.pb-0 {
  padding-bottom: 0;
}

@keyframes verticalFlip {
  from {
    transform: rotateX(90deg);
    opacity: 0
  }

  to {
    transform: rotateX(0);
    opacity: 1
  }
}