/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap');

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: rgba(0, 0, 0, .15)
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .3)
}

body, html {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, 'Source Sans Pro', sans-serif;
}

html {
  height: 100%;
}

body {
  --active-color: #1fc356;
  padding-bottom: 1px;

  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .6)
  }
}

h1 {
  font-family: monospace;
  letter-spacing: -.02em;
  margin: 0;
}

.pb-0 {
  padding-bottom: 0;
}

.input-group {
  position: sticky;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  padding: 3px 6px;
  width: min(30vw, 100%);
  top: 0;
  background-color: #fff;
  z-index: 2;

  input {
    flex-basis: 0;
    flex-grow: 1;
  }

  .input-box {
    display: flex;
    flex-grow: 1;
  }
}

select, .input-box input, .input {
  border: 0;
  outline: 0;
  border-bottom: 3px solid;
  padding: 2px 10px;
  font-weight: bold;

  &:focus, &:active {
    border-color: var(--active-color);
  }
}


// https://range-input-css.netlify.app/
$range-track-height: .4rem;
$range-thumb-width: 2.5rem;
$range-thumb-height: 1rem;
$range-thumb-radius: 0.5rem;
$range-thumb-outline-offset: 0.125rem;
$range-thumb-outline: 3px solid var(--active-color);

/*********** Baseline, reset styles ***********/
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 100%;
}

/* Removes default focus */
input[type="range"]:focus {
  outline: none;
}

/******** Chrome, Safari, Opera and Edge Chromium styles ********/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
  background-color: #000;
  border-radius: $range-track-height;
  height: $range-track-height;
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: $range-track-height / 2 - $range-thumb-height / 2; /* Centers thumb on the track */
  background-color: var(--active-color);
  border-radius: $range-thumb-radius;
  height: $range-thumb-height;
  width: $range-thumb-width;
}

input[type="range"]:focus::-webkit-slider-thumb {
  outline: $range-thumb-outline;
  outline-offset: $range-thumb-outline-offset;
}

/*********** Firefox styles ***********/
/* slider track */
input[type="range"]::-moz-range-track {
  background-color: #000;
  border-radius: $range-track-height;
  height: $range-track-height;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
  background-color: var(--active-color);
  border: none; /*Removes extra border that FF applies*/
  border-radius: $range-thumb-radius;
  height: $range-thumb-height;
  width: $range-thumb-width;
}

input[type="range"]:focus::-moz-range-thumb {
  outline: $range-thumb-outline;
  outline-offset: $range-thumb-outline-offset;
}

.range-tick-marks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 0 ($range-thumb-width / 2 - $range-thumb-outline-offset);
  height: 2 * $range-track-height;
  margin-top: calc(#{- 2 * $range-track-height} - 1px); /* -1px because 2px native margin on input[range] */
  z-index: -1;

  > * {
    height: 100%;
    box-shadow: 0 0 0 0.5px black;
  }
}

/*Chips*/
.chips {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1080px;
  margin: 1rem auto;
  gap: .3rem;

  .chip {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    padding: 0 .5rem;
    background-color: rgb(222 222 222 / 60%);
    border-radius: 3px;

    &--close-btn {
      cursor: pointer;
      margin: .2rem 0 .2rem .4rem;
      background-color: rgb(0 0 0 / 5%);
      border-radius: 1rem;
      width: 1.2rem;
      line-height: 1.2rem;
      font-size: .8rem;
      text-align: center;
      color: #8f8f8f;
    }
  }
}


/*Buttons*/

.btn {
  border: none;
  outline: none;
  background-color: var(--active-color);
  padding: .5em 1em;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;

  &:focus, &:active {
    outline: 2px solid var(--active-color);
    outline-offset: 2px;
  }
}

.color-active {
  color: var(--active-color);
}
