app-home {
  header {
    padding: min(10vh, 10vw);
    text-transform: uppercase;
  }

  .home-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: min(4vh, 4vw);
    gap: min(4vh, 4vw);
  }

  .app-nav__item {
    position: relative;
    align-self: unset;

    flex-grow: 1;
    min-width: min(400px, 90vw);
    max-width: 25vw;
    height: 25vh;
    font-size: min(3vh, 8vw);
    font-weight: bold;
    text-shadow: 2px 2px rgb(39 37 52 / 60%);
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left bottom;
    transition: 2s background-position linear;
    border-radius: 9px;
    box-shadow: 0 0 0 1px #d4d4d4;
    overflow: hidden;

    &.contain {
      background-position: center;
      background-size: contain;
    }

    &:hover {
      > * {
        background-color: rgb(39 37 52 / 20%);
      }
    }

    > * {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      padding: min(2vw, 2vh);
      background-color: rgb(39 37 52 / 76%);
      transition: .3s background-color linear;
    }
  }
}
