<header>
  <h1>
    <ng-container *ngFor="let text of quote; let last = last">{{text}}<br *ngIf="!last"></ng-container>
  </h1>
</header>

<div class="home-nav">
  <a class="app-nav__item" [style.background-position]="'top'"
    [style.background-image]="'url(https://upload.wikimedia.org/wikipedia/commons/4/4f/2022_Russian_invasion_of_Ukraine.svg)'"
    routerLink="/2022-Russian-invasion-of-Ukraine">
    <span>Ukraine Invasion Map - Timeline</span>
  </a>
  <a class="app-nav__item" [style.background-image]="'url(assets/home/bullet-train.jpg)'"
    routerLink="/ongoing-mega-projects-in-india">
    <span>Ongoing Mega Projects in India</span>
  </a>
  <a class="app-nav__item" [style.background-position]="'top'"
    [style.background-image]="'url(assets/home/wikipedia-logo.svg)'" routerLink="/wikipedia-sources-reliability-index">
    <span>Wikipedia Reliability Index</span>
  </a>
  <a class="app-nav__item" [style.background-image]="'url(assets/home/languages-of-india.png'"
    routerLink="/languages-of-india">
    <span>Languages of India</span>
  </a>
  <a class="app-nav__item" [style.background-image]="'url(assets/home/make-in-india.jpg)'"
    routerLink="/economy-of-india">
    <span>Economy of India</span>
  </a>
  <a class="app-nav__item" [style.background-image]="'url(assets/home/electric-lines.jpg)'"
    routerLink="/electrification-of-india">
    <span>Electrification of India</span>
  </a>
  <a class="app-nav__item" [style.background-image]="'url(assets/home/delhi-lotus-temple.jpg)'"
    routerLink="/delhi-aqi-during-diwali-season">
    <span>Delhi's AQI Around Diwali</span>
  </a>
  <a class="app-nav__item" [style.background-image]="'url(assets/home/himalaya-road.jpg)'"
    routerLink="/india-roads-highways-expressways">
    <span>India's Roads</span>
  </a>
  <a class="app-nav__item" [style.background-image]="'url(assets/home/tata-safari.png)'"
    routerLink="/india-vehicles-and-accidents">
    <span>India's Vehicles and Accidents</span>
  </a>
  <a class="app-nav__item contain" [style.background-image]="'url(assets/home/stop-terrorism.jpg)'"
    routerLink="/terrorism-in-india">
    <span>Terrorism in India</span>
  </a>
  <a class="app-nav__item contain" [style.background-image]="'url(assets/home/heart-monitor.jpg)'"
    routerLink="/births-and-deaths">
    <span>Registered Births and Deaths</span>
  </a>
  <a class="app-nav__item" [style.background-image]="'url(assets/home/stock-market.png)'" routerLink="/stock-market">
    <span>Stock Market - Performance Comparison</span>
  </a>
</div>
