app-mega-projects {
  display: block;

  header {
    padding: min(8vh, 8vw) min(8vh, 8vw) min(5vh, 5vw);
  }

  .user-input {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: .5rem;
  }

  .mega-projects-list {
    margin: 3vh auto;
    max-width: min(1080px, 96vw);
    overflow: auto;
  }

  .mega-projects-item {
    display: grid;
    grid-template-columns: minmax(200px, 2fr) repeat(3, minmax(130px, 2fr)) repeat(2, minmax(120px, 1fr));
    grid-auto-flow: column;
    align-items: center;
    margin: min(1vw, 1vh) auto;
    word-break: break-word;

    &:first-child {
      text-transform: uppercase;
    }

    > * {
      align-self: stretch;
      display: inline-flex;
      flex-wrap: wrap;
      align-items: center;

      padding: min(2vw, 2vh);
      margin-right: min(1vw, 1vh);
      min-height: 3em;
      background-color: rgb(0 0 0 / 3%);

      &:last-child {
        margin-right: 0;
      }
    }

    &--divider {
      gap: 0;
      grid-template-columns: 1fr;
      font-size: 1.3rem;

      > * {
        background: none;
      }
    }

    &--waiting {
      > * {
        background-color: rgb(255 0 0 / 07%);
      }
    }
  }

  a {
    color: var(--active-color);
    font-weight: bold;

    &:not([href]) {
      color: inherit;
      cursor: default;
    }
  }
}
